/*
 * @author lteran9
 *
 *
 */

@import "elements";
@import "coin";

@keyframes fade {
   from {
      background-color: rgba(255, 255, 255, 1);
   }
   to {
      background-color: rgba(255, 255, 255, 0.05);
   }
}

feed-view {
   display: block;
   height: 350px;
   padding: 1rem 0;
   border: 1px solid #ccc;
   overflow-y: scroll;
   position: relative;

   .feed-header {
      border-bottom: 1px solid #ccc;

      .product-key {
         font-weight: bold;
         margin-bottom: 0.325rem;
      }
   }

   #overview {
      width: 100%;
      height: 100%;
      z-index: 1000;
      background-color: white;
      position: absolute;

      &:hover {
         color: transparent;
         background: transparent;
         animation: fade 1s forwards;
      }
   }

   [id^="items-"] {
      width: 100%;
      height: 100%;
   }

   .item {
      display: flex;
      flex-flow: row wrap;

      span {
         flex: 1 1 0;
         flex-basis: 25%;
         padding-bottom: 0.5rem;

         &.rawtime {
            flex-basis: 50%;
         }

         &.up {
            color: rgb(46, 174, 52);
         }

         &.down {
            color: rgb(249, 103, 45);
         }
      }
   }

   .item + .item {
      padding-top: 0.5rem;
      border-top: 1px solid #ccc;
   }

   [id^="price-"] {
      font-size: 150%;
      font-weight: bold;
   }

   [id^="volume-"] {
      margin-top: 1rem;
      font-size: 150%;
      font-weight: bold;
   }
}

/*
 * Shared
 */

.content {
   width: 75%;
   max-height: 50%;
}

.history-form {
   .form-group {
      max-width: 320px;
      margin-left: auto;
      margin-right: auto;
   }
}

.form-group {
   margin-bottom: 1.125rem;
}

/*
 * Custom
 */
.bhm-list {
   padding-left: 0;
   list-style: none;
   margin-bottom: 0;

   li + li {
      margin-top: 0.325rem;
   }
}

.timer {
   width: 12px;
   height: 12px;
}

.over {
   background-color: $buy;
   font-weight: 800;
   color: white;
}

.under {
   background-color: $sell;
   font-weight: 800;
   color: white;
}

.history-graph {
   .btn-group-toggle {
      display: flex;
      flex-flow: row wrap;

      label {
         flex-basis: 100px;
      }
   }
}

.coin-card {
   .card-title {
      text-align: center;
   }
}

.bhm-exchange {
   .product-link {
      height: 250px;
      display: flex;
      align-items: center;
      justify-content: center;
   }
}
